<link rel="stylesheet" href="/css/styles.css">

<h1>Wild West Forum</h1>

<p>Howdy, {{username}}!</p>

<form method="GET" action="/logout">
  <button type="submit">Log out</button>
</form>

<p><a href="/posts/new">New Post</a>

{{#if posts.length}}
  <ul>
    {{#each posts}}
      <li>
        <a href="/forum/posts/{{this.id}}">
          <strong>{{this.title}}</strong>
        </a>
        by {{this.author}}
        <em>({{this.createdAt}})</em>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts yet. Be the first to post!</p>
{{/if}}